.header {
  background-color: #212529;
  padding: 15px 0;
}

.header-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-weight: 600;
  font-size: 18px;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 400;
}

nav a.active {
  border-bottom: 2px solid white;
}