.portfolio-banner {
  background-image: url("../assets/images/hero-bg.jpg");
}

.portfolio-banner {
  height: 300px;
  background-size: cover;
  background-position: center;
}

.portfolio-title {
  text-align: center;
  padding: 40px 20px;
}

.portfolio-section {
  padding: 60px 0;
}

.portfolio-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-card {
  flex: 0 1 calc(33.333% - 30px);
  background: white;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-card:hover {
  background-color: #efefef;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.portfolio-card img {
  width: 100%;
}

.card-body {
  padding: 20px;
  text-align: center;
  flex: 1;
}

.card-footer {
  background: #f2f2f2;
  padding: 10px;
  text-align: center;
}

/* TABLETTE */
@media (max-width: 992px) {
  .portfolio-card {
    flex: 0 1 calc(50% - 30px);
  }
}

/* MOBILE */
@media (max-width: 576px) {
  .portfolio-container {
    flex-direction: column;
  }

  .portfolio-card {
    width: 100%;
  }
}