/* HERO IMAGE */
.services-hero {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
}

/* TITRE PAGE */
.services-header {
  text-align: center;
  margin: 60px 0 40px;
}

.services-header h1 {
  margin-bottom: 10px;
}

.services-header p {
  margin-bottom: 20px;
  color: #6c757d;
}

.blue-line {
  display: block;
  width: 600px;
  height: 3px;
  background-color: #0d6efd;
  margin: 0 auto;
}

/* SERVICES */
.services-list {
  padding-bottom: 60px;
}

/* CARDS */
.service-card {
  height: 100%;
  padding: 20px;
  border-radius: 6px;
}

.service-card p {
  color: #6c757d;
}

/* ICONES */
.service-icon {
  font-size: 40px;
  color: #0d6efd;
  margin-bottom: 15px;
}